<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>'ㅁ'</h1>
<form id="form">
    <p>
        <label>
            이름 : <input type="text" name="name">
        </label>
    </p>
    <p>
        <label>
            전화번호 : <input type="tel" name="tel">
        </label>
    </p>
</form>
<button onclick="save()">저장</button>
</body>
<script>
    jQuery.fn.serializeObject = function () {
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function () {
                        obj[this.name] = this.value;
                    });
                }//if ( arr ) {
            }
        } catch (e) {
            alert(e.message);
        } finally {
        }

        return obj;
    };

    function save() {
        $.ajax(
            {
                url: '/inquiry',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify($("#form").serializeObject()),
                complete: function (xhr, status) {
                    console.log(xhr);
                    console.log(status);
                }
            }
        );
    }
</script>
</html>